<nav class="navbar navbar-light bg-danger elevated">
  <span class="navbar-brand mb-0 h2">
    <h2 style="color: lightgray;">CLIENT 2.0</h2>
  </span>
</nav>
<br>

<div class="row" style="margin: 4%">
  <div class="col-lg-12">
      <app-player></app-player>
      <br>
    <div class="card text-center elevated" style="background-color: darkslategray; padding: 10px;">
      <div class="elevated">
        <h1 style="color: lightyellow;padding: 8px;">MOVIES</h1>
      </div>
      <br>
      <app-movielist></app-movielist>
    </div>
  </div>
</div>