/* You can add global styles to this file, and also import other style files */
.elevated {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow 
  .elevated:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }*/
  video {
    width: 100%;
    height: auto;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
